<div>
    <table>
        <tr>
            <th>id</th>
        </tr>
    {{#each carritos}}
        <tr>
            <td>{{this._id}}</td>
        </tr>
    {{/each}}
    </table>
    <table>
        <tr>
            <th>Productos Agregados</th>
            <th>Precio</th>
        </tr>
        {{#each carritos}}
            {{#each this.productos}}
                <tr>
                    <td>{{this.nombre}}</td>
                    <td>${{this.precio}}</td>
                </tr>
            {{/each}}
        {{/each}}
    </table>        
</div>
{{#if productos}}
        <div>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Stock</th>
                    <th>Precio</th>
                    <th>Foto</th>
                </tr>
            {{#each productos}}
                <tr>
                    <td>{{this.nombre}}</td>
                    <td>{{this.descripcion}}</td>
                    <td>{{this.stock}}uni</td>
                    <td>${{this.precio}}</td>
                    <td><img src={{this.foto}}></td>
                    <!--<td>
                        <form action='' method="post">
                            <input type="submit" value="Agregar a Carrito" class="boton">
                        </form>
                    </td>-->
                </tr>
            {{/each}}
                <tr>
                    <td><button class="boton"><a href="/api/productos/form">Ingresar Productos</a></button></td>
                    <td><button class="boton"><a href="/api/carrito">Ir a Carritos</a></button></td>
                    <td><button class="boton"><a href="/api/productos">Ver productos</a></button></td>
                </tr>
            </table>       
        </div>  
    {{else}}
        <p class="aviso">No hay productos</p>
    {{/if}}